USE [master]
GO
/****** Object:  Database [Гостиница]    Script Date: 03.11.2020 16:39:32 ******/
CREATE DATABASE [Гостиница] ON  PRIMARY 
( NAME = N'Гостиница', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Гостиница.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Гостиница_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Гостиница_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Гостиница].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Гостиница]
GO
/****** Object:  Table [dbo].[Журнал]    Script Date: 03.11.2020 16:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Журнал](
	[ИДЗаписи] [int] IDENTITY(1,1) NOT NULL,
	[ТипЗаписи] [varchar](50) NOT NULL,
	[Дата] [date] NOT NULL CONSTRAINT [DF_Журнал_Дата]  DEFAULT (getdate()),
	[ИДКлиента] [int] NOT NULL,
 CONSTRAINT [PK_Журнал] PRIMARY KEY CLUSTERED 
(
	[ИДЗаписи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 03.11.2020 16:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Клиенты](
	[ИДКлиента] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [varchar](50) NOT NULL,
	[Имя] [varchar](50) NOT NULL,
	[Отчество] [varchar](50) NULL,
	[Комментарий] [varchar](50) NOT NULL,
	[ИДНомера] [int] NOT NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[ИДКлиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Номера]    Script Date: 03.11.2020 16:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Номера](
	[ИДНомера] [int] IDENTITY(1,1) NOT NULL,
	[НазваниеНомера] [varchar](50) NOT NULL,
	[Вместимость] [int] NOT NULL,
	[Комфортность] [varchar](50) NOT NULL,
	[Цена] [money] NOT NULL,
 CONSTRAINT [PK_Номера] PRIMARY KEY CLUSTERED 
(
	[ИДНомера] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 03.11.2020 16:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ИДПользователя] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [varchar](50) NULL,
	[Пароль] [varchar](50) NULL,
	[Роль] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED 
(
	[ИДПользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Журнал] ON 

INSERT [dbo].[Журнал] ([ИДЗаписи], [ТипЗаписи], [Дата], [ИДКлиента]) VALUES (1, N'Вселение', CAST(N'2020-11-03' AS Date), 1)
INSERT [dbo].[Журнал] ([ИДЗаписи], [ТипЗаписи], [Дата], [ИДКлиента]) VALUES (2, N'Вселение', CAST(N'2020-11-03' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Журнал] OFF
SET IDENTITY_INSERT [dbo].[Клиенты] ON 

INSERT [dbo].[Клиенты] ([ИДКлиента], [Фамилия], [Имя], [Отчество], [Комментарий], [ИДНомера]) VALUES (1, N'Хохланд', N'Роман', N'Алексеевич', N'Всё для хохланда', 1)
INSERT [dbo].[Клиенты] ([ИДКлиента], [Фамилия], [Имя], [Отчество], [Комментарий], [ИДНомера]) VALUES (2, N'Хохол', N'Владимир', N'Владимирович', N'Хохлинский', 2)
SET IDENTITY_INSERT [dbo].[Клиенты] OFF
SET IDENTITY_INSERT [dbo].[Номера] ON 

INSERT [dbo].[Номера] ([ИДНомера], [НазваниеНомера], [Вместимость], [Комфортность], [Цена]) VALUES (1, N'Президент хохланда', 4, N'Ультра Люкс', 40.0000)
INSERT [dbo].[Номера] ([ИДНомера], [НазваниеНомера], [Вместимость], [Комфортность], [Цена]) VALUES (2, N'Президент хохол', 5, N'Гипер ульра Люкс', 20.0000)
SET IDENTITY_INSERT [dbo].[Номера] OFF
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([ИДПользователя], [Логин], [Пароль], [Роль]) VALUES (1, N'admin', N'admin', N'Admin')
INSERT [dbo].[Пользователи] ([ИДПользователя], [Логин], [Пароль], [Роль]) VALUES (2, N'', N'', N'User')
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
ALTER TABLE [dbo].[Журнал]  WITH CHECK ADD  CONSTRAINT [FK_Журнал_Клиенты] FOREIGN KEY([ИДКлиента])
REFERENCES [dbo].[Клиенты] ([ИДКлиента])
GO
ALTER TABLE [dbo].[Журнал] CHECK CONSTRAINT [FK_Журнал_Клиенты]
GO
ALTER TABLE [dbo].[Клиенты]  WITH CHECK ADD  CONSTRAINT [FK_Клиенты_Номера] FOREIGN KEY([ИДНомера])
REFERENCES [dbo].[Номера] ([ИДНомера])
GO
ALTER TABLE [dbo].[Клиенты] CHECK CONSTRAINT [FK_Клиенты_Номера]
GO
/****** Object:  Trigger [dbo].[Клиенты_DELETE]    Script Date: 03.11.2020 16:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create trigger [dbo].[Клиенты_DELETE]
on [dbo].[Клиенты]
after delete
AS
insert into Журнал(ТипЗаписи, ИДКлиента)
Select 'Выселение', ИДКлиента
from deleted
GO
/****** Object:  Trigger [dbo].[Клиенты_INSERT]    Script Date: 03.11.2020 16:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create trigger [dbo].[Клиенты_INSERT]
on [dbo].[Клиенты]
after insert
AS
insert into Журнал(ТипЗаписи, ИДКлиента)
Select 'Вселение', ИДКлиента
from inserted
GO
USE [master]
GO
